DISCORD_TOKEN=
PUBLIC_KEY=
CLIENT_ID=
GUILD_ID=
WELCOME_CHANNEL_ID=
NEW_MEMBER_WELCOME_CHANNEL_ID=
CODE_OF_CONDUCT_CHANNEL_ID=
QUESTIONS_CHANNEL_ID=
MISSION_STATEMENT_CHANNEL_ID=
ORG_STRUCTURE_CHANNEL_ID=
SETH_USER_ID=
ALEKS_USER_ID=
JAYLEN_USER_ID=
